<h1>Baby Food</h1>

<%= render partial: 'layouts/errors', locals: {object: @baby_food} %>

<%= form_for (@baby_food) do |f| %>
    <div> 
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div><br>
   
    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div><br>

    <p>Select an existing Category:</p>
    <div>
        <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: 'Select Category' %>
    </div>

    <p>Or create a new Category:</p>
    <div>
        <%= f.fields_for :category do |c| %>
            <%= c.label :name%>
            <%= c.text_field :name%>
        <% end %>
    </div><br>

    <%= f.submit %>
<% end %>