<center><h1>Welcome <%= @user.username %>!!!</h1></center>

<center><h3>~ <%= link_to  "Your baby's foods", user_baby_foods_path(@user.id) %> ~</h3></center>

<h3>Reviewed baby foods by <%=@user.username %>:</h3>
<ul>
  <% @user.reviewed_baby_foods.each do |bf|%>
    <li> <%= link_to bf.name, user_baby_food_path(bf)%> </li>
  <% end %>
</ul>

<center><h3>~ <%= link_to  "Your reviews", user_reviews_path(current_user) %> ~</h3></center>
