<h1>Write a Review for <%= @review.baby_food.name %>!!!</h1>

<%= form_for (@review) do |f| %>
    <div> 
        <%= f.label :thumbs_up %>
        <%= f.number_field :thumbs_up, min: 1, max: 5 %>
    </div><br>
   
    <div>
        <%= f.label :content %>
        <%= f.text_area :content %>
    </div><br>

    <%= f.hidden_field :baby_food_id %>

    <%= f.submit %>
<% end %>