<!DOCTYPE html>
<html>
  <head>
    <title>Baby Food Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      h1 {
        text-align: center;
        text-decoration-line: underline;        
      }

      h2 {
        text-align: center;
      }

      h3 {
        text-align: center;
      }

      div {
        text-align: center;
      }

      p { 
        text-align: center;
      }
    </style>
  </head>

  <div><b>
    <%= nav_bar %>   
  </b></div>

  <body>
    <h1>Baby Food Tracker</h1>
    <%= yield %>
  </body>
</html>
